<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="edu.cientifica.convivir.mappers.AdministradorMapper">
	
	<resultMap id="admnistradorResultMap"
		type="edu.cientifica.convivir.model.Administrador"
		extends="edu.cientifica.convivir.mappers.PersonaMapper.personaResultMap">
		<result column="username" property="username" />
		<result column="password" property="password" />
		<result column="email" property="correo" />
	</resultMap>

	<insert id="insertAdministrador"
		parameterType="edu.cientifica.convivir.model.Administrador">
		INSERT INTO db_convivir5.usuario
		(id_usuario,
		username,
		password,
		email
		)
		VALUES
		(#{id},
		#{username},
		#{password},
		#{correo});
	</insert>
</mapper>