<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="edu.cientifica.convivir.mappers.UInmobiliariaMapper">
	<resultMap id="uinmobiliariaResultMap"
		type="edu.cientifica.convivir.model.UInmobiliaria">
		<id column="id_uinmobiliaria" property="id" />
		<result column="nombre_corto" property="nombreCorto" />
		<result column="nombre_largo" property="nombreLargo" />
		<result column="des_direccion" property="direccion" />
		<result column="ubigeo" property="codigoUbigeo" />
		<result column="latitud_map" property="mapaLatitud" />
		<result column="longitud_map" property="mapaLongitud" />
		<association column="id_usuario" property="administrador"
			javaType="edu.cientifica.convivir.model.Administrador"
			resultMap="edu.cientifica.convivir.mappers.AdministradorMapper.admnistradorResultMap" />
	</resultMap>

	<insert id="insertUInmobiliaria"
		parameterType="edu.cientifica.convivir.model.UInmobiliaria">
		INSERT INTO db_convivir5.unidadinmobiliaria
		(id_uinmobiliaria,
		nombre_corto,
		nombre_largo,
		des_direccion,
		ubigeo,
		latitud_map,
		longitud_map)
		VALUES
		(#{id},
		#{nombreCorto},
		#{nombreLargo},
		#{direccion},
		#{codigoUbigeo},
		#{mapaLatitud},
		#{mapaLongitud});
	</insert>

	<select id="selectNewId" resultType="int">
		SELECT
		IFNULL(max(id_uinmobiliaria), 0)+1 as id from
		db_convivir5.unidadinmobiliaria
	</select>

	<insert id="insertAdministrador"
		parameterType="edu.cientifica.convivir.model.UInmobiliaria">
		INSERT INTO db_convivir5.perfil
		(id_uinmobiliaria,
		id_usuario,
		id_tipo_perfil)
		VALUES
		(#{id},
		#{administrador.id},
		"1");
	</insert>
	
	<select id="selectUInmobiliariaById"
		resultMap="uinmobiliariaResultMap">
		SELECT ui.id_uinmobiliaria,
		ui.nombre_corto,
		ui.nombre_largo,
		ui.des_direccion,
		ui.ubigeo,
		ui.latitud_map,
		ui.longitud_map,
        u.id_usuario,
        u.username,
        u.email,
        u.password,
        pe.nombre,
        pe.tipo_documento,
        pe.num_documento,
        pe.primer_apellido, 
        pe.segundo_apellido,
        pe.fecha_nacimiento
		FROM unidadinmobiliaria ui
		INNER JOIN perfil p
		ON ui.id_uinmobiliaria = p.id_uinmobiliaria
        AND p.id_tipo_perfil = 1
		INNER JOIN usuario u
		ON p.id_usuario = u.id_usuario
        INNER JOIN  persona pe
        ON u.id_usuario = pe.id_persona
		WHERE ui.id_uinmobiliaria = #{id};
	</select>

	<select id="selectUInmobiliariaByAdministrador"
		resultMap="uinmobiliariaResultMap"
		parameterType="edu.cientifica.convivir.model.Administrador">
		SELECT ui.id_uinmobiliaria,
		ui.nombre_corto,
		ui.nombre_largo,
		ui.des_direccion,
		ui.ubigeo,
		ui.latitud_map,
		ui.longitud_map,
        u.id_usuario,
        u.username,
        u.email,
        u.password,
        pe.nombre,
        pe.tipo_documento,
        pe.num_documento,
        pe.primer_apellido, 
        pe.segundo_apellido,
        pe.fecha_nacimiento
		FROM unidadinmobiliaria ui
		INNER JOIN perfil p
		ON ui.id_uinmobiliaria = p.id_uinmobiliaria
        AND p.id_tipo_perfil = 1
		INNER JOIN usuario u
		ON p.id_usuario = u.id_usuario
        INNER JOIN  persona pe
        ON u.id_usuario = pe.id_persona
		WHERE u.id_usuario = #{id};
	</select>
	<select id="selectUInmobiliariaByUsuarioFinal"
		resultMap="uinmobiliariaResultMap"
		parameterType="edu.cientifica.convivir.model.UsuarioFinal">
		SELECT ui.id_uinmobiliaria,
		ui.nombre_corto,
		ui.nombre_largo,
		ui.des_direccion,
		ui.ubigeo,
		ui.latitud_map,
		ui.longitud_map,
        u.id_usuario,
        u.username,
        u.email,
        u.password,
        pe.nombre,
        pe.tipo_documento,
        pe.num_documento,
        pe.primer_apellido, 
        pe.segundo_apellido,
        pe.fecha_nacimiento
		FROM unidadinmobiliaria ui
		INNER JOIN perfil p
		ON ui.id_uinmobiliaria = p.id_uinmobiliaria
        AND p.id_tipo_perfil = 2
		INNER JOIN usuario u
		ON p.id_usuario = u.id_usuario
        INNER JOIN  persona pe
        ON u.id_usuario = pe.id_persona
		WHERE u.id_usuario = #{id};
	</select>

	<sql id="sqlListaUinmobiliaria">
	</sql>
</mapper>