<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" 
    th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/css/convivir.css" th:href="@{/css/convivir.css}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Convivir</title>
</head>

<body>
    <header>
        <div class="container" id="cabecera">
            <div class="row align-items-lg-center">
                <div class="col-lg-8" id="logo">
                    <img src="../static/img/logotitulo.png" th:src="@{/img/logotitulo.png}" alt="logotitulo">
                </div>

                <div class="col-lg">
                    <a name="" id="" class="btn btn-success btn-lg btn-block" href="#" th:href="@{/login}" role="button">Ingresar</a>
                </div>
                <div class="col-lg">
                    <a name="" id="" class="btn btn-success btn-lg btn-block" href="#" th:href="@{/registrar}"role="button">Registrarse</a>
                </div>
            </div>
            <div class="row" id="foto">
                <img src="../static/img/fotoheader.png" th:src="@{/img/fotoheader.png}" alt="fotoheader">
            </div>
        </div>
    </header>

    <section>
        <div class="container" id="contenido">
            <div class="row d-flex justify-content-between">
                <div class="card" style="width: 16rem;">
                    <img class="card-img-top" src="../static/img/logo.png" th:src="@{/img/logo.png}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Gestión de Unidades Privada</h5>
                        <p class="card-text">Este módulo permite la creación de unidades privadas y propietarios.</p>
                        <a href="#" class="btn btn-block btn-success">Ir al Módulo</a>
                    </div>
                </div>

                <div class="card" style="width: 16rem;">
                    <img class="card-img-top" src="../static/img/logo.png" th:src="@{/img/logo.png}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Gestión de Propietarios</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-block btn-success">Ir al Módulo</a>
                    </div>
                </div>

                <div class="card" style="width: 16rem;">
                    <img class="card-img-top" src="../static/img/logo.png" th:src="@{/img/logo.png}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Gestión de Residentes</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-block btn-success">Ir al Módulo</a>
                    </div>
                </div>

                <div class="card" style="width: 16rem;">
                    <img class="card-img-top" src="../static/img/logo.png" th:src="@{/img/logo.png}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Gestión de Cuotas</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-block btn-success">Ir al Módulo</a>
                    </div>
                </div>
                
                

            </div>
        </div>
    </section>

    <footer> </footer>


</body>



</html>