<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/css/convivir.css" th:href="@{/css/convivir.css}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Convivir</title>
</head>

<body>
    <header>
        <div class="container" id="cabecera">
            <div class="row align-items-lg-center">
                <div class="col-lg-8" id="logo">
                    <img src="../static/img/logotitulo.png" th:src="@{/img/logotitulo.png}" alt="logotitulo">
                </div>

                <div class="col-lg">
                    <a name="" id="" class="btn btn-success btn-lg btn-block" href="#" th:href="@{/salir}" role="button">Salir</a>
                </div>
                
            </div>
            <div class="row" id="foto">
                <img src="../static/img/fotoheader.png" th:src="@{/img/fotoheader.png}" alt="fotoheader">
            </div>
        </div>
    </header>

    <section>
        <div class="container" id="contenido">
        
        <form action="">
        
        
        </form>
          
        </div>
    </section>

    <footer> </footer>


</body>



</html>