<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Inmobiliaria Nuevo</title>
<!--css-->
<link rel="stylesheet" th:href="@{/css/login.css}" href="../static/css/login.css">
<link rel="stylesheet" th:href="@{/css/convivir.css}" href="../css/convivir.css">

<!--Bootstrap-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
	integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
	crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
	integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
	integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<!--awesome-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
</head>
<body>
	<header>
		<div class="container" id="cabecera">
			<div class="row align-items-lg-center">
				<div class="col-lg-8" id="logo">
					<img src="../static/img/logotitulo.png" th:src="@{/img/logotitulo.png}" alt="logotitulo">
				</div>

				<div class="col-lg">
					<a name="" id="" class="btn btn-success btn-lg btn-block" href="#" th:href="@{/salir}" role="button">Salir</a>
				</div>

			</div>
			<div class="row" id="foto">
				<img src="../static/img/fotoheader.png" th:src="@{/img/fotoheader.png}" alt="fotoheader">
			</div>
		</div>
	</header>

	<section>
		<div class="container" id="contenido">
			<div>
				<a name="" id="" class="btn btn-success btn-lg btn-block" href="#" th:href="@{'/administrador/'+${administrador.id}+'/uinmobiliaria'}" role="button">Nuevo Condominio</a>
			</div>
			<table class="table table-light">
				<thead class="thead-light">
					<tr>
						<th>Id</th>
						<th>Nombre</th>
						<th>Dirección</th>
						<th>Ubigeo</th>
						<th>Acciones</th>
					</tr>
				</thead>

				<tbody>
					<tr th:if="${administrador.listaUInmobiliaria.empty}">
						<td>No existen resultados</td>
					</tr>
					<tr th:each="unidad: ${administrador.listaUInmobiliaria}">
						<td><span th:text="${unidad.id}">1</span></td>
						<td><span th:text="${unidad.nombreCorto}">Condominio X</span></td>
						<td><span th:text="${unidad.direccion}">Avenida X</span></td>
						<td><span th:text="${unidad.codigoUbigeo}">101 - A</span></td>
						<td><span> <a href="#" th:href="@{'/uinmobiliaria/'+${unidad.id}+'/edit}"> <i class="fa fa-pencil-square" aria-hidden="true"></i>
									Edit
							</a>
							<a href="#" th:href="@{'/uinmobiliaria/'+${unidad.id}}"> <i class="fa fa-pencil-square" aria-hidden="true"></i>
									Detalle
							</a>
						</span></td>
					</tr>
				</tbody>
			</table>

		</div>
	</section>

	<footer> </footer>
</body>
</html>