<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuario</title>

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <form action="" style="width: 500px;margin: auto;">
            <div col-sm-10>
                <label class="form-label" for="nombre">Nombre:</label> <br>
                <input class="form-control" type="text" id="nombre" name="nombre"> <br>
            </div>

            <label class="form-label" for="primer_apellido">Primer Apellido</label> <br>
            <input class="form-control" type="text" name="primer_apellido"> <br>

            <label class="form-label" for="segundo_apellido">Segundo Apellido</label><br>
            <input class="form-control" type="text" id="segundo_apellido" name="segundo_apellido"><br>

            <label class="form-label" for="correo">Correo Electronico</label><br>
            <input class="form-control" type="email" id="correo" name="correo"><br>

            <label class="form-label" for="usuario">Usuario</label><br>
            <input class="form-control" type="text" id="usuario" name="usuario"><br>

            <label class="form-label" for="password">Password</label><br>
            <input class="form-control" type="password" id="password" name="password"><br>

            <input class="form-control" type="submit" value="Registrar">
        </form>
    </div>
</body>

</html>